<div class="jumbotron bg-success">
    <h1>Welcome to The Timetabling system</h1>
    <%= link_to 'Login', login_path, class: 'btn btn-primary' %>
    <%= link_to 'Signup', signup_path , class: 'btn btn-warning' %>
</div>