<% if @teacher.errors.any? %>
    <ul class="form-group">
        <% @teacher.errors.full_messages.each do |msg| %>
            <li class="form-control alert alert-danger"><%= msg %></li>
        <% end %>
    </ul>
<% end %>