<h1>Course: <%= @course.name %></h1>
<h5>By: <%= @course.teacher.name %></h5>
<p>Course Schedules</p>
<ul class="list-group">
    <% @course.schedules.each do |sch| %>
        <li class="list-group-item">
            <p>Start at: <%= format_time(sch.start_time) %></p>
            <p>End at: <%= format_time(sch.end_time) %></p>
        </li>
    <% end %>
</ul>